header{
    background-image: url();

}
button{
    border-right: 1px solid white;
}
main{
    background-color: black;
}
.div-accueil{
    display: flex;
}
.div-accueil2{
    border-right: 3px solid violet;
}